* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    width: 750px;
    height: 750px;
    display: flex;
    flex-flow: row wrap;
}

.cell {
    border: 1px solid grey;
}

button {
    border: 2px solid #3882F6;
    background-color: white;
    border-radius: 5px;
    color: #3882F6;
    padding: 5px 25px;
    transition: background-color 0.3s;
    margin: 20px;
    margin-bottom: 100px;
    cursor: pointer;
}

button:hover {
    background-color: #3882F6;
    color: white;
    
}

#reset {
    border: 2px solid #f94144;
    background-color: #f94144;
    color: white;
}

#reset:hover {
    background-color: white;
    color: #f94144;
}

.mode {

}